<template>
    <q-page class="flex q-pa-md">
        <div class="full-width" >
            <listheader bgColor="bg-red-10" v-if="placingOrder">
                Login/Register to proceed with order
            </listheader>
            <q-card class="full-width card" v-if="!userDetails.userId && placingOrder">
                <q-card-section class="row">
                    <h6>Login or Register before placing your order</h6>
                    <p>If you already have an account please login now and then you will be able to 
                        view your orders when you login to the Profile page.
                    </p>
                    <p>
                        You can order without an account but you will not be able to view the order afterwards. 
                    </p>
                    <q-btn
                        label="Continue without account"
                        color="primary"
                        type="submit" 
                        to="/checkout"
                        icon-right="shopping_cart"
                        />
                </q-card-section>
            </q-card>
            <listheader
            bgColor="bg-red-10"
            >Login/Register
            </listheader> 
            <q-card class="full-width" v-if="!userDetails.userId">
                <q-tabs
                    v-model="tab"
                    dense
                    class="text-grey"
                    active-color="primary"
                    indicator-color="primary"
                    align="justify"
                    narrow-indicator>
                    <q-tab name="login" label="email" />
                    <q-tab name="register" label="register" />
                    <q-tab name="google" label="Google" />
                </q-tabs>

                    <q-separator />

                    <q-tab-panels v-model="tab" animated>
                        <q-tab-panel name="login">
                            <loginregister :tab="tab" />
                        </q-tab-panel>
                        <q-tab-panel name="register">
                            <loginregister :tab="tab" />
                        </q-tab-panel>
                        <q-tab-panel name="google">
                            <div id="wrapper">
                                <div id="left">
                                    <img src="/statics/images/google.svg" height="35px" width="35px">
                                </div>
                                <div id="right">
                                    <q-btn
                                    color="primary"
                                    type="submit"
                                    @click="LoginWithGoogle"
                                    label="Login with Google"/>
                                </div>
                            </div>
                        </q-tab-panel>

                        <!-- <q-tab-panel name="facebook">
                        <q-btn
                            color="primary"
                            type="submit"
                            @click="loginWithFacebook"
                            label="Login with Facebook"
                        />
                        </q-tab-panel>

                        <q-tab-panel name="twitter">
                            <img src="/statics/images/twitter.svg">
                            <q-btn
                            color="primary"
                            type="submit"
                            @click="loginWithTwitter"
                            label="Login with Twitter"
                        />
                        </q-tab-panel>
                        <q-tab-panel name="yahoo">
                            <img src="/statics/images/twitter.svg">
                        </q-tab-panel>
                        <q-tab-panel name="phone">
                            <img src="/statics/images/twitter.svg">
                             <form v-on:submit.prevent>
                                <q-input
                                    
                                    bottom-slots
                                    outlined
                                    type="number"
                                    v-model="numberInputForm.number" 
                                    placeholder="Phone number" 
                                    required
                                ></q-input>
                                <q-btn
                                    id="sign-in-button"
                                    color="primary"
                                    type="submit"
                                    label="Login with mobile phone">
                                </q-btn>
                                
                            </form> 
                             <form>
                                <input type="text" id="verificationcode" value="enter verification">
                                <input type="button" value="Submit" onclick="loginWithPhone()">
                            </form>
                            
                        </q-tab-panel> -->
                    </q-tab-panels> 
            </q-card>
            <!-- <div id="recaptcha-container"></div> -->
        </div>
    </q-page>
</template>
<script>
import Vue from 'vue'
import { mapActions, mapGetters, mapState } from 'vuex'
import { firebaseAuth, firestoreDb, firebaseDb, firebaseRoot } from 'boot/firebase'
import firebaseui from 'firebaseui'

export default Vue.extend({
    data () {
    return {
        tab: 'google',
        slide: 'first',
        placingOrder: false,
        recaptchaVerifier: '',
        numberInputForm: {
            number: ''
        },
        formData: {
                name: '',
                email: '',
                userid: ''
            }
    }
    },
    components: {
        listheader: require('components/Shared/ListHeader.vue').default,
        loginregister: require('components/Authentication/LoginRegister').default
    },
    computed: {
        ...mapState('firestore', ['userDetails'])
    },
    methods: {
        ...mapActions('firestore', ['loginUser', 'clearUserState', 'registerUserOtherSource']),
        LoginWithGoogle () {
            // clear any previous user state
            this.clearUserState()
            const firebase = firebaseRoot
            firebaseAuth.setPersistence(firebase.auth.Auth.Persistence.LOCAL)
            .then(async () => {

                const provider = new firebase.auth.GoogleAuthProvider()

                firebase.auth().signInWithPopup(provider)
                .then((result) => {
                    if (result != null) {
                        const user = firebase.auth().currentUser
                            if (user != null) {
                            
                            const userId = user.uid

                            if (result.user != null) {

                                console.log('Logged in User From Google: ' + result.user)
                                console.log('display name' + result.user.displayName)
                                console.log('Logged in UserID ' + userId)
                                console.log('Name' + result.user)
                                console.log('email: ' + result.user.email)
                                console.log('UserID ' + userId)

                                // Update the state from a central method shared between all options
                                this.formData.name = result.user.displayName
                                this.formData.email = result.user.email
                                this.formData.userid = userId
                                this.registerUserOtherSource(this.formData)

                            }
                            // Is this before they order
                            if (this.placingOrder) {
                                this.$router.replace('/checkout')
                            } else {
                                this.$router.replace('/profile')
                            }
                        }
                    }
                }).catch((err) => {
                    alert('Something went wrong ' + err.message)
                })
            })
        },
        oAuthLoginProvider (provider) {
            // 
        },
        loginWithFacebook () {
            const firebase = firebaseRoot
            const provider = new firebase.auth.FacebookAuthProvider()

            firebase.auth().signInWithPopup(provider)
            .then((result) => {
                if (result != null) {
                    const user = firebase.auth().currentUser
                        if (user != null) {
                        
                        const userId = user.uid

                        if (result.user != null) {

                            console.log('Logged in User From Facebook: ' + result.user)
                            console.log('display name' + result.user.displayName)
                            console.log('Logged in UserID ' + userId)
                            console.log('Name' + result.user)
                            console.log('email: ' + result.user.email)
                            this.loginUser({
                                userDetails: {
                                name: result.user.displayName,
                                userid: userId,
                                email: result.user.email
                                }
                            })
                        }

                        this.$router.replace('/')
                    }
                }
            }).catch((err) => {
                alert('Something went wrong ' + err.message)
            })
        },
        loginWithTwitter () {
            const firebase = firebaseRoot
            const provider = new firebase.auth.TwitterAuthProvider()

            firebase.auth().signInWithPopup(provider)
            .then((result) => {
                if (result != null) {
                    const user = firebase.auth().currentUser
                        if (user != null) {
                        
                        const userId = user.uid

                        if (result.user != null) {

                            console.log('Logged in User From Twitter: ' + result.user)
                            console.log('display name' + result.user.displayName)
                            console.log('Logged in UserID ' + userId)
                            console.log('Name' + result.user)
                            console.log('email: ' + result.user.email)
                            this.loginUser({
                                userDetails: {
                                name: result.user.displayName,
                                userid: userId,
                                email: result.user.email
                                }
                            })
                        }

                        this.$router.replace('/')
                    }
                }
            }).catch((err) => {
                alert('Something went wrong ' + err.message)
            })
        },
        loginWithPhone () {
            window.confirmationResult.confirm(document.getElementById('verificationcode').value)
            .then(function (result) {
            console.log(result)
            }).catch(function (error) {
            console.log(error)
            })
        },
        checkIfOrdering () {
            if (this.$route.params !== null) {
                if (this.$route.params.cart !== null) {
                    this.placingOrder = true
                }
            }
        }
    },
    mounted () {
        firebaseAuth.useDeviceLanguage()
        this.checkIfOrdering()
        // window.recaptchaVerifier = new firebaseRoot.auth.RecaptchaVerifier('recaptcha-container', {
        // size: 'invisible',
        // callback: function (response) {
        //     // reCAPTCHA solved, allow signInWithPhoneNumber.
        //     // onSignInSubmit()
        //         console.log('fired callback')
        //     }
        // })
       
        // window.recaptchaVerifier = new firebaseRoot.auth.RecaptchaVerifier('recaptcha-container')
        // firebaseRoot.auth().signInWithPhoneNumber('replace with your phone number with country code, start with +1 if US.', window.recaptchaVerifier) 
        // .then(function (confirmationResult) {
        //     window.confirmationResult = confirmationResult
        //     console.log(confirmationResult)
        // })
    }

})
</script>
<style lang="sass" scoped>
.card
  margin-bottom: 6px
#left 
    float: left
    width: 35%
    overflow: hidden

#right 
  overflow: hidden
</style>
