<template>
    <q-page class="flex q-pa-md">
        <div class="full-width" >
            <listheader bgColor="bg-red-10">
                Upgrade to a full account
            </listheader>
            <q-card class="full-width">
                <q-tabs
                    v-model="tab"
                    dense
                    class="text-grey"
                    active-color="primary"
                    indicator-color="primary"
                    align="justify"
                    narrow-indicator>
                    <q-tab name="register" label="register with email" />
                    <q-tab name="google" label="register with Google" />
                </q-tabs>
                <q-separator />
                <q-tab-panels v-model="tab" animated>
                        <q-tab-panel name="register">
                            <upgradeaccount :tab="tab" />
                        </q-tab-panel>
                        <q-tab-panel name="google">
                            <div id="wrapper">
                                <div id="left">
                                    <img src="/statics/images/google.svg" height="35px" width="35px">
                                    </div>
                                    <div id="right">
                                        <q-btn
                                            color="primary"
                                            type="submit"
                                            @click="LoginWithGoogle"
                                            label="Login with Google"/>
                                    </div>
                                </div>
                        </q-tab-panel>
                </q-tab-panels>
            </q-card>
        </div>
    </q-page>
</template>
<script lang="ts">
import Vue from 'vue'
import { mapActions, mapGetters, mapState } from 'vuex'
import { firebaseAuth, firestoreDb, firebaseDb, firebaseRoot } from 'boot/firebase'
export default Vue.extend({
    data () {
        return {
            tab: 'google',
            slide: 'first',
            formData: {
                name: '',
                email: '',
                userid: ''
            }
        }
    },
    components: {
        listheader: require('components/Shared/ListHeader.vue').default,
        upgradeaccount: require('components/Authentication/UpgradeAccount').default
    },
    computed: {

    },
    methods: {
        ...mapActions('firestore', ['loginUser', 'clearUserState', 'registerUserOtherSource']),
        LoginWithGoogle () {
            // Upgrade the account with Google
            // clear any previous user state
            this.clearUserState()
            const firebase = firebaseRoot
            firebaseAuth.setPersistence(firebase.auth.Auth.Persistence.LOCAL)
            const provider = new firebase.auth.GoogleAuthProvider()
            this.oAuthLoginProvider(provider)
        },
        oAuthLoginProvider (provider) {
            // clear any previous user state
            this.clearUserState()
            const firebase = firebaseRoot
            firebaseAuth.setPersistence(firebase.auth.Auth.Persistence.LOCAL)
            .then(async () => {

                firebase.auth().signInWithPopup(provider)
                .then((result) => {
                    if (result != null) {
                        const user = firebase.auth().currentUser
                            if (user != null) {
                            
                            const userId = user.uid
                            // TODO: Is this the right approach?
                            if (result.user !== null && result.user.email !== null && result.user.displayName !== null) {

                                // Update the state from a central method shared between all options
                                this.formData.name = result.user.displayName
                                this.formData.email = result.user.email
                                this.formData.userid = userId
                                this.registerUserOtherSource(this.formData)
                            }
                            // Is this before they order
                            // if (this.placingOrder) {
                            //     this.$router.replace('/checkout')
                            // } else {
                                 this.$router.replace('/profile')
                            // }
                        }
                    }
                }).catch((err) => {
                    alert('Something went wrong ' + err.message)
                })
            })
        }
    }
    
})
</script>
<style lang="sass" scoped>
#left 
  float: left
  width: 35%
  overflow: hidden

#right 
  overflow: hidden

</style>
