<template>
    <div class="row q-mb-sm">
        <q-input 
            rounded 
            clearable
            outlined
            :value="phonenumber"
            @input="$emit('update:phonenumber', $event)"
            :rules="[val => !!val || 'Please enter your phone number']"
            
            ref="phonenumber"
            type="tel" 
            label="Phone number"
            class="col" 
        >
        <template v-slot:append>
          <q-icon
                v-if="phonenumber"
                @click="$emit('update:phonenumber', '')"
                name="close"
                class="cursor-pointer" />
        </template>
        <template v-slot:before>
            <q-icon name="contact_phone" />
        </template>
    </q-input>
    </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    props: ['phonenumber']
})
</script>
