<template>
<div class="row q-mb-sm">
<q-input
    rounded
    bottom-slots
    outlined
    type="email"
    :value="email"
    @input="$emit('update:email', $event)"
    :rules="[val => !!val || 'Your email is required']"
    
    ref="email"
    label="Email"
    class="col">
    <template v-slot:append>
        <q-icon
            v-if="email"
            @click="$emit('update:email', '')"
            name="close"
            class="cursor-pointer" />
    </template>
    <template v-slot:before>
          <q-icon name="mail" />
    </template>
</q-input>
</div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    props: ['email']
})
</script>
