<template>
<div class="row q-mb-sm">
<q-input
    outlined
    :value="lastname"
    @input="$emit('update:lastname', $event)"
    :rules="[val => !!val || 'Field is required']"
    autofocus
    ref="lastname"
    label="Last Name"
    class="col">
        <template v-slot:append>
    <q-icon
        v-if="firstname"
        @click="$emit('update:lastname', '')"
        name="close"
        class="cursor-pointer" />
    </template>
</q-input>
</div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    
})
</script>
