<template>
<div class="row q-mb-sm">
<q-input
    outlined
    rounded
    bottom-slots
    :value="fullname"
    @input="$emit('update:fullname', $event)"
    :rules="[val => !!val || 'Please enter your name']"
    
    ref="fullname"
    label="Full Name"
    class="col">
        <template v-slot:append>
    <q-icon
        v-if="fullname"
        @click="$emit('update:fullname', '')"
        name="close"
        class="cursor-pointer" />
    </template>
</q-input>
</div>
</template>
<script lang="ts">
import Vue from 'vue'
export default {
    props: ['fullname']
}
</script>
