<template>
        <div class="row q-mb-sm">
            <span v-if="success"> 
                <p>Your Query Was Sent Successfully</p>
            </span>
        </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    props: ['success']
})
</script>
