<template>
    <q-page>
        <q-card>
            <q-card-section class="row">
                <q-list bordered separator>
                    <q-item v-ripple>
                        <q-item-section>
                            <span v-if="businessAddress.lineOne">
                                {{ businessAddress.lineOne }} <br>
                            </span>
                            <span
                            v-if="businessAddress.lineTwo"
                            >
                            {{ businessAddress.lineTwo }},<br>
                            </span>
                            
                            <span
                            v-if="businessAddress.lineThree"
                            >
                            {{ businessAddress.lineThree }},<br>
                            </span>
                            
                            <span
                            v-if="businessAddress.county"
                            >
                            {{ businessAddress.county }}
                            </span>
                            
                            <span
                            v-if="businessAddress.postcode"
                            >
                            {{ businessAddress.postcode }}
                            </span>
                        </q-item-section>
                        <q-item-section avatar>
                            <q-icon color="primary" name="business" />
                        </q-item-section>
                    </q-item>
                    <q-item v-ripple>
                        <q-item-section>{{ businessAddress.phonenumber }}</q-item-section>
                        <q-item-section avatar>
                            <q-icon color="primary" name="perm_phone_msg" />
                        </q-item-section>
                    </q-item>
                    <q-item v-ripple>
                        <q-item-section>{{ businessAddress.email }}</q-item-section>
                        <q-item-section avatar>
                            <q-icon color="primary" name="mail" />
                        </q-item-section>
                    </q-item>
                    <q-item 
                    v-ripple
                    @click.stop="showForm = true"
                    clickable>
                        <q-item-section>Send a message
                        </q-item-section>
                        <q-item-section avatar>
                            <q-icon
                            @click.stop="showForm = true"
                            color="primary" 
                            name="mail" />
                        </q-item-section>
                    </q-item>
                </q-list>
            </q-card-section>
        </q-card>
        <q-dialog 
            v-model="showForm"
            style="width:600px;">
            <contactform
            @close="showForm = false">
            </contactform>
        </q-dialog>
    </q-page>
</template>
<script lang="ts">
import Vue from 'vue'
import { firestoreDb } from 'boot/firebase'
export default Vue.extend({
    data () {
        address: Array<{
                name: string; 
                lineOne: string; 
                lineTwo: string; 
                lineThree: string;
                county: string;
                postcode: string;
                phonenumber: string;
                email: string;  
             }>()
      return {
        showForm: false,
        address: Array<{
                name: string; 
                lineOne: string; 
                lineTwo: string; 
                lineThree: string;
                county: string;
                postcode: string;
                phonenumber: string;
                email: string;  
             }>()
      }
    },
    props: ['businessAddress'],
    components: {
        contactform: require('components/contact/ContactForm').default
    },
    mounted () {
        console.log('mounted fired')
        const postsListRef = firestoreDb
        .collection('BusinessAddress')
        .get()
        .then(snapshot => {

            snapshot.forEach(doc => {
                const businessAddress = {
                    name: '',
                    lineOne: '',
                    lineTwo: '',
                    lineThree: '',
                    county: '',
                    postcode: '',
                    phonenumber: '',
                    email: ''
                }

                businessAddress.name = doc.data().name
                businessAddress.lineOne = doc.data().AddressFirstLine
                businessAddress.lineTwo = doc.data().AddressSecondLine
                businessAddress.lineThree = doc.data().AddressThirdLine
                businessAddress.county = doc.data().AddressCounty
                businessAddress.postcode = doc.data().AddressPostcode
                businessAddress.phonenumber = doc.data().ContactPhoneNumber
                businessAddress.email = doc.data().ContactEmailAddress

                this.address.push(businessAddress)
            })
        })
    }

})
</script>
