<template>
    <q-card  style="width: 380px">
        
        <modalheader>Send Your Query</modalheader>
        <form @submit.prevent="submitForm">
            <q-card-section>
                <modalfullname
                :fullname.sync="queryToSubmit.fullname"
                v-model="queryToSubmit.fullname"
                ref="modalFullName"
                />
                <modalemail
                :email.sync="queryToSubmit.email"
                v-model="queryToSubmit.email"
                ref="modalEmail"
                />
                <modalphone
                :phonenumber.sync="queryToSubmit.phonenumber"
                v-model="queryToSubmit.phonenumber"
                ref="modalPhoneNumber"
                />

                <modalmessage
                :message.sync="queryToSubmit.message"
                v-model="queryToSubmit.message"
                ref="modalEmail"
                /> 
                <modalsuccess
                :success="querySent"
                />
            </q-card-section>
            <modalbuttons></modalbuttons> 
            
        </form>
    </q-card>
</template>
<script lang="ts">
import Vue from 'vue'
import { ref } from '@vue/composition-api'
import { mapActions } from 'vuex'
import { firestoreDb } from 'boot/firebase'
// import axios from 'axios'
// https://blog.logrocket.com/how-to-make-http-requests-like-a-pro-with-axios/
import AxiosPlugin from 'vue-axios-cors'

export default Vue.extend({
    data () {
        test: ''
        querySent: false
        queryToSubmit: {
            fullname: ''
            email: ''
            message: ''
            phonenumber: ''
        }
      return {
        queryToSubmit: {
            fullname: '',
            email: '',
            message: '',
            phonenumber: ''
        },
        querySent: false
      }
    },
    setup () {
    const fullname = ref('modalFullName')
    const email = ref('modalEmail')
    const message = ref('modalEmail')
    const phonenumber = ref('modalPhoneNumber')
    function onSubmit () {
      // submit to backend or whatever you like
      console.log(fullname.value, email.value, message.value)
    }
    return {
      fullname,
      email,
      message,
      onSubmit
    }
    },
    components: {
        modalheader: require('components/contact/modals/shared/modalheader').default,
        modalbuttons: require('components/contact/modals/shared/modalbuttons').default,
         modalfullname: require('components/contact/Modals/ModalFullName').default,
         modalemail: require('components/contact/Modals/ModalEmail').default,
         modalmessage: require('components/contact/Modals/ModalEnquiryMessage').default,
         modalphone: require('components/contact/Modals/ModalPhoneNumber').default,
         modalsuccess: require('components/contact/Modals/ModalSuccess').default
    },
    methods: {
        submitForm () {
            console.log('fired')
            console.log('Fullname ' + this.queryToSubmit.fullname)
            console.log('email ' + this.queryToSubmit.email)
            console.log('Message ' + this.queryToSubmit.message)
            console.log('Phone number ' + this.queryToSubmit.phonenumber)
            const fullname = this.queryToSubmit.fullname
            const email = this.queryToSubmit.email
            const message = this.queryToSubmit.message
            const phonenumber = this.queryToSubmit.phonenumber

            if (fullname != null && email != null && message != null) {

            const optionAxios = {
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
                }
            }

            const options = {
                url: 'https://us-central1-ginadesign-4824a.cloudfunctions.net/emailAlert',
                method: 'POST',
                data: {
                email: email,
                message: message,
                fullname: fullname,
                phonenumber: phonenumber
                }
            }

            this.$axios(options)
            .then((res) => {
             console.log('Post Succeeded to function')
            })
            .catch(err => {
                console.log('error' + err)
            })

            const postsListRef = firestoreDb
            .collection('ContactEmails')
            .add({
                fullname: this.queryToSubmit.fullname,
                email: this.queryToSubmit.email,
                message: this.queryToSubmit.message
            })
            .catch(err => {
                console.log('Error posting message', err)
            })
            }

            let htmlMessage = '<html><head></head><body>'
            htmlMessage += '<p>You received a query from ' + fullname + '</p>'
            htmlMessage += '<p>Their email address was given as: ' + email + '</p>'
            htmlMessage += '<p>Phone number: ' + phonenumber + '</p>'

            htmlMessage += '<p>The message was: <br>'
            htmlMessage += message
            htmlMessage += '</p>'
            // Inserts into the mail collection
            // This fires an email extension Trigger Email -- Go to the Extensions tab in the firebase console to manage it
            const addEmailRef = firestoreDb
            .collection('mail').add({
            to: 'cuillinguy@gmail.com',
            cc: 'chestgold@yahoo.co.uk',
            bcc: 'cuillinguy@outlook.com',
            from: 'info@giannadart.com',
            message: {
                subject: 'Website enquiry email',
                text: message,
                html: htmlMessage
            }
            })// .then(() => console.log('Queued email for delivery!'))
            .then(() => {
                console.log('Queued email for delivery!')
                this.querySent = true
            })
        }
    },
    mounted () {
        this.queryToSubmit = Object.assign({}, this.queryToSubmit)
    }
})
</script>
