<template>
    <q-page class="flex q-pa-md">
        <div class="q-pa-md q-gutter-sm">
            <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/" />
            <q-breadcrumbs-el label="Orders" icon="shop_two" to="/profile"/>
            <q-breadcrumbs-el label="Order Details" icon="shop" />
            </q-breadcrumbs>
        </div>
        <div class="full-width">
            <listheader
            bgColor="bg-orange-4"
            >Order Details
            </listheader>
            <orderdetails
            :orderid="orderId"
            >
            </orderdetails>
        </div>
    </q-page>
</template>
<script lang="ts">
import Vue from 'vue'
import { firebaseAuth, firestoreDb } from 'boot/firebase'
export default Vue.extend({
    data () {
        return {
            orderId: ''
        }
    },
    components: {
            listheader: require('components/Shared/ListHeader.vue').default,
            orderdetails: require('components/UserArea/OrderDetails').default
    },
    mounted () {
        const orderid = this.$route.params.orderid
        console.log('orderid by route querystring value ' + orderid)
        this.orderId = orderid
    }
})
</script>
