<template>
    <q-page class="flex q-pa-md">
        <div class="q-pa-md q-gutter-sm">
            <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/" />
            <q-breadcrumbs-el label="Orders" icon="shop" />
            </q-breadcrumbs>
        </div>
        <div class="full-width">
            <listheader
            bgColor="bg-orange-4"
            >Login or Register
            </listheader>
            <q-item>
            <q-card class="full-width">
                <q-card-section class="row">
                        <p>
                            Note: You have chosen not to register or login. 
                            You will not be able to view this order after clicking the logout button.
                        </p>
                        <p>
                            <q-btn
                                label="Upgrade Account"
                                color="primary"
                                type="submit" 
                                to="/upgrade"
                                icon-right="shopping_cart"
                            />
                        </p>
                        
                </q-card-section>
            </q-card> 
            </q-item>
           
            <listheader
            bgColor="bg-orange-4"
            >Orders
            </listheader> 
                <q-list separator bordered>
                    <q-item
                        class="bg-green-1"
                        v-ripple>
                    <q-item-section>
                        <q-item-label>
                            Date
                        </q-item-label>
                    </q-item-section>
                    <q-item-section>
                        <q-item-label>
                            Total Items
                        </q-item-label>
                    </q-item-section>
                    </q-item>
                    <orders
                    v-for="(item) in orderDetails" 
                    :key="item.OrderId"
                    :order="item"
                    ></orders>
                </q-list>
        </div>
    </q-page>
</template>
<script lang="ts">
import Vue from 'vue'
import { mapActions } from 'vuex'
import { firebaseAuth, firestoreDb } from 'boot/firebase'
export default Vue.extend({
    data () {
        orderDetails: Array<{
            OrderId: string;
            AddressFirstLine: string;
            AddressSecondLine: string;
            AddressThirdLine: string;
            PostCode: string;
            ContactEmail: string;
            ContactPhone: string;
            DeliveryNote: string;
        }>()
        return {
                orderDetails: Array<{
                OrderId: string;
                AddressFirstLine: string;
                AddressSecondLine: string;
                AddressThirdLine: string;
                PostCode: string;
                ContactEmail: string;
                ContactPhone: string;
                DeliveryNote: string;
            }>()
        }
    },
    methods: {
        ...mapActions('orders', ['getUserOrders']),
        mapOrders (userId) {
            // const user = firebaseAuth.currentUser
            if (userId !== null) {

            // const userId = user.uid
            console.log('user is not blank on initial load from login' + userId)
            const ordersRef = firestoreDb
            .collection('Orders')
            // eslint-disable-next-line quotes
            .where("UserId", "==", userId)
            // eslint-disable-next-line quotes
            .orderBy('updated_at', "desc")
            .get()
            .then(snapshot => {
                snapshot.forEach((doc) => {

                const orderDetails = {
                    OrderId: '',
                    AddressFirstLine: '',
                    AddressSecondLine: '',
                    AddressThirdLine: '',
                    PostCode: '',
                    ContactEmail: '',
                    ContactPhone: '',
                    DeliveryNote: '',
                    UpdatedAt: ''
                }

                orderDetails.AddressFirstLine = doc.data().AddressFirstLine
                orderDetails.AddressSecondLine = doc.data().AddressSecondLine
                orderDetails.AddressThirdLine = doc.data().AddressThirdLine
                orderDetails.PostCode = doc.data().PostCode
                orderDetails.ContactEmail = doc.data().ContactEmail
                orderDetails.ContactPhone = doc.data().ContactPhone
                const documentId = doc.id
                const timestamp = doc.data().updated_at.toDate()
                const todate = new Date(timestamp).getDate()
                const tomonth = new Date(timestamp).getMonth() + 1
                const toyear = new Date(timestamp).getFullYear()
                const time = new Date(doc.data().updated_at.toDate()).getTime()
                const originalDate = todate + '/' + tomonth + '/' + toyear

                const dateObj = new Date(time)
                
                // console.log(originalDate)
                const utcString = dateObj.toUTCString()
                const timeObj = utcString.slice(-11, -4)
                // console.log(timeObj) 
                orderDetails.UpdatedAt = originalDate // dateObj.toString()
                orderDetails.OrderId = documentId

                // Add to State
                const payload = {
                    orderId: documentId,
                    orderDetails: orderDetails
                }

                this.orderDetails.push(orderDetails)

                })
            })
            .catch(err => {
                console.log('Error' + err)
            })

            } else {
                // User is blank
                console.log('user is blank in profile refresh')
            }
        }
    },
    components: {
            listheader: require('components/Shared/ListHeader.vue').default,
            orders: require('components/UserArea/Orders').default
        },
    mounted () {

        firebaseAuth.onAuthStateChanged((user) => {
            if (user) {
                 // User is signed in.
                const userId = firebaseAuth.currentUser
                if (userId !== null) {
                    console.log('Handle Auth changed User is not blank in mounted')
                    console.log('Handle Auth changed in mounted User: UserID + ' + userId.uid)
                    this.mapOrders(userId.uid)
                } else {
                    // User is empty
                    console.log('User is null from profile mounted')
                    this.$router.replace('/')
                }
            }
        })
    }    
    })
</script>
