<template>
    <div>
         <orderitems
        :orderid="orderid"
        >
        </orderitems>
        <q-list bordered separator>
            <q-item clickable v-ripple>
                <q-item-section>
                    <q-item-label overline>Address Line One</q-item-label>
                    <q-item-label>
                        {{orderDetails.AddressFirstLine}}
                    </q-item-label>
                </q-item-section>
            </q-item>
            <q-item clickable v-ripple>
                <q-item-section>
                    <q-item-label overline>Address Line Two</q-item-label>
                    <q-item-label>{{orderDetails.AddressSecondLine}}</q-item-label>
                </q-item-section>
            </q-item>
            <q-item clickable v-ripple>
                <q-item-section>
                    <q-item-label overline>Address Line Three</q-item-label>
                    <q-item-label>{{orderDetails.AddressThirdLine}}</q-item-label>
                </q-item-section>
            </q-item>
            <q-item clickable v-ripple>
                <q-item-section>
                    <q-item-label overline>Postcode</q-item-label>
                    <q-item-label>{{orderDetails.PostCode}}</q-item-label>
                </q-item-section>
            </q-item>
            <q-item clickable v-ripple>
                <q-item-section>
                    <q-item-label overline>Contact Email</q-item-label>
                    <q-item-label>{{orderDetails.ContactEmail}}</q-item-label>
                </q-item-section>
            </q-item>
            <q-item clickable v-ripple>
                <q-item-section>
                    <q-item-label overline>Contact Phone</q-item-label>
                    <q-item-label>{{orderDetails.ContactPhone}}</q-item-label>
                </q-item-section>
            </q-item>
            <q-item clickable v-ripple>
                <q-item-section>
                    <q-item-label overline>Delivery Note</q-item-label>
                    <q-item-label>{{orderDetails.DeliveryNote}}</q-item-label>
                </q-item-section>
            </q-item>
        </q-list>
    </div>
</template>
<script lang="ts">
import Vue from 'vue'
import { firebaseAuth, firestoreDb } from 'boot/firebase'
export default Vue.extend({
    data () {
        return {
                orderDetails: {
                OrderId: '',
                AddressFirstLine: '',
                AddressSecondLine: '',
                AddressThirdLine: '',
                PostCode: '',
                ContactEmail: '',
                ContactPhone: '',
                DeliveryNote: ''
            },
            orderId: ''
        }
    },
    props: ['orderid'],
    components: {
      orderitems: require('components/UserArea/OrderItems').default
    },
    methods: {
        mapOrder () {

            if (this.orderId !== null) {
                console.log('orderid in component maporder data property= ' + this.orderId)
                const localOrderID = this.orderId// 'vFFkEhIf5OokUGSziKFZ'
                const ordersRef = firestoreDb
                .collection('Orders')
                .doc('' + localOrderID + '')
                // eslint-disable-next-line quotes
                .get()
                .then((doc) => {
                    const data = doc.data()
                    if (data) {
                        // In this block, data is now typed as just DocumentData,
                        // undefined is no longer an option.
                        this.orderDetails.OrderId = this.orderid
                        this.orderDetails.AddressFirstLine = data.AddressFirstLine
                        this.orderDetails.AddressSecondLine = data.AddressSecondLine
                        this.orderDetails.AddressThirdLine = data.AddressThirdLine
                        this.orderDetails.PostCode = data.PostCode
                        this.orderDetails.ContactEmail = data.ContactEmail
                        this.orderDetails.ContactPhone = data.ContactPhone
                        this.orderDetails.DeliveryNote = data.DeliveryNote

                        console.log('order details fired')
                        console.log('Address first line ' + this.orderDetails.AddressFirstLine)
                        console.log('Address second line ' + this.orderDetails.AddressSecondLine)
                    }
                }).catch(error => {
                    console.log('Error getting the details: ' + error)
                })
            } else {
                console.log('orderid is null')
            }
        }
    },
    mounted () {
        const orderid = this.$route.params.orderid
        console.log('orderid by route querystring value in orderdetails component ' + orderid)
        this.orderId = orderid
        this.mapOrder()
    }
})
</script>
