<template>
    <q-card>
    <q-markup-table flat bordered>
      <thead class="bg-grey">
        <tr>
          <th colspan="7">
            <div class="row no-wrap items-center">
              <q-img
                style="width: 70px"
                :ratio="1"
                class="rounded-borders"
                src="https://storage.googleapis.com/ginadesign-4824a.appspot.com/Shop/-M7gXn2OGtgcY18PmY2N/image/kente.jpg"
              />
              <div class="text-h4 q-ml-md text-white">Order Items</div>
            </div>
          </th>
        </tr>
        <tr>
          <th class="text-left">Product Name</th>
          <th class="text-right">Qty</th>
          <th class="text-right">Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="bg-grey-3" >
        <tr v-for="(item, key) in orderItems" :key="key">
          <td class="text-left">{{ item.Name }}</td>
          <td class="text-right">{{ item.Amount }}</td>
          <td class="text-right">£{{ item.OrderTotal }}</td>       
          <td class="text-right"></td>
        </tr>
        <tr>  
            <td>Grand Total</td>
            <td></td>
            <td>£ {{ totalToPay }}</td>
            <td></td>
        </tr>
      </tbody>
    </q-markup-table>
</q-card>
</template>
<script lang="ts">
import Vue from 'vue'
import { mapActions } from 'vuex'
import { firebaseAuth, firestoreDb } from 'boot/firebase'
export default Vue.extend({
    data () {
        totalToPay: 0
        return {
            totalToPay: 0,
            orderItems: Array<{
                OrderId: string;
                Name: string;
                OrderTotal: number;
                Price: number;
                Amount: number;
                Sku: string;
            }>(),
            orderId: ''
        }
    },
    props: ['orderid'],
    methods: {
        readOrderItems () {

                if (this.orderId !== null) {
                  console.log('local order id ' + this.orderId)
                    const ordersRef = firestoreDb
                    .collection('OrderItems')
                    // eslint-disable-next-line quotes
                    .where("OrderId", "==", this.orderId)
                    .orderBy('Name')
                    .get()
                    .then(snapshot => {
                        snapshot.forEach((doc) => {

                        const orderItem = {
                            OrderId: '',
                            Name: '',
                            OrderTotal: 0,
                            Price: 0,
                            Amount: 0,
                            Sku: ''
                        }

                          orderItem.OrderId = this.orderId
                          orderItem.Name = doc.data().Name
                          orderItem.OrderTotal = doc.data().OrderTotal
                          orderItem.Price = doc.data().Price
                          orderItem.Amount = doc.data().Qty
                          orderItem.Sku = doc.data().Sku

                          console.log('order item ' + orderItem.Sku)

                           this.orderItems.push(orderItem)

                        })
                    }).catch(error => {
                      console.log('Error getting the item details ' + error)
                    })

                    // Read the final totals
                    this.readTotalOrder()
                } else {
                  console.log('local order id is null')
                }
        },
        readTotalOrder () {

            const totalAmount = 0
                // for (const key in this.orderItems) {
                //     console.log('readorder fired loop')                   
                //     const ordertotal = this.orderItems[key].OrderTotal
                //     console.log('this is the total ' + ordertotal)
                //     totalAmount += ordertotal
                // }

                this.orderItems.forEach(element => {
                  console.log('counting items')
                })

                console.log('Total Amount ' + totalAmount)                
                this.totalToPay = totalAmount
        }
    },
    created () {
        const orderid = this.$route.params.orderid
        console.log('orderid by route querystring value in item details component ' + orderid)
        this.orderId = orderid
        this.readOrderItems()
    }
})
</script>
