<template>
    <q-item
        class="bg-green-1"
        v-ripple
        clickable
        :to="'/orderdetails/' + order.OrderId"
    >
        <!-- <q-item-section>
            <q-item-label>
                {{ order.OrderId }}
            </q-item-label>
                        
        </q-item-section> -->
        <q-item-section>
            <q-item-label>
                {{ order.UpdatedAt }}
            </q-item-label>
        </q-item-section>
        <q-item-section>
            <q-item-label>
                10
            </q-item-label>
        </q-item-section>
    </q-item>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    props: ['order']
})
</script>
