<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
         >
        <q-menu
          transition-show="jump-down"
          transition-hide="jump-up"
        >
          <q-list style="min-width: 200px">
            <q-item clickable>
              <q-item-section>
                <a class="link" href="/">Home</a>
              </q-item-section>
            </q-item>
            <!-- <q-item clickable>
              <q-item-section>
                <a class="link" href="/portfolio">Portfolio</a>
              </q-item-section>
            </q-item> -->
            <q-item clickable>
              <q-item-section>
                <a class="link" href="/shop">Shop</a>
              </q-item-section>
            </q-item>
            <q-item clickable>
              <q-item-section>
                <a href="/about">About Us</a>
              </q-item-section>
            </q-item>
            <q-separator />
            <q-item clickable>
              <q-item-section>
                <a href="/contact">Contact Us</a>
              </q-item-section>
            </q-item>
            <q-item clickable>
              <q-item-section v-if="!userDetails.userId">
                <a href="/login">Login</a>
              </q-item-section>
            </q-item>
            <q-item clickable>
              <q-item-section v-if="userDetails.userId">
                <a href="/profile">Profile</a>
              </q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-btn>

        <q-toolbar-title>
           {{ title }}
        </q-toolbar-title>
         <q-btn
         v-if="showCart"
          flat
          dense
          round
          @click.stop="showBasket = true"
          icon="shopping_cart"
         />
         <q-btn
            v-if="!userDetails.userId"
            to="/login"
            no-caps
            dense 
            color="primary" 
            icon="account_circle" 
            >
          </q-btn>
 
          <q-btn
            v-else
            @click="logoutFirebaseUser" 
            no-caps
            dense 
            color="primary" 
            icon="account_circle" >
            logout
          </q-btn>
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          
        </q-item-label>
        <div class="q-pa-md q-gutter-md">
          <q-list bordered padding class="rounded-borders" style="max-width: 250px">
            <div class="q-pa-md q-gutter-sm">
              <q-btn to="/" label="Home" outline color="purple" /><br>
              <!-- <q-btn class="q-button" to="/portfolio" label="Portfolio" outline color="purple" /><br> -->
              <q-btn class="q-button" to="/shop" label="Shop" outline color="purple" /><br>           
              <q-btn class="q-button" to="/about" label="About" outline color="purple" /><br>
              <q-btn class="q-button" to="/contact" label="Contact" outline color="purple" /><br> 
              <q-btn class="q-button" to="/login" label="Login" outline color="purple" /><br> 
            </div>
          </q-list>
        </div>

      </q-list>
    </q-drawer>

    <sitefooter></sitefooter>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-dialog
      v-model="showBasket"
      style="width:600px;">
       <shoppingcart
        :cart="cart"
        @close="showBasket = false"
        v-on:cartcleared="cartCleared($event)"
      /> 
    </q-dialog>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink'
import { mapActions, mapGetters, mapState } from 'vuex'
import { firebaseAuth } from 'boot/firebase'

export default {
  name: 'MainLayout',

  components: {
    // EssentialLink
     shoppingcart: require('components/Shop/Basket/ShoppingBasket').default,
     sitefooter: require('components/footer/Footer').default
  },
  computed: {
    ...mapState('firestore', ['userDetails']),
    title () {
      console.log('full route: ' + this.$route.fullPath)
      const currentPath = this.$route.fullPath
      if (currentPath === '/') return ''
      if (currentPath === '/portfolio') return 'Portfolio'
      if (currentPath === '/about') return 'About Us'
      if (currentPath === '/login') return 'Login/Register'
      if (currentPath === '/login/cart') return 'Login/Register for order'
      if (currentPath === '/contact') return 'Contact Us'
      if (currentPath === '/shop') return 'Order Online'
      if (currentPath === '/terms') return 'Terms And Conditions'
      if (currentPath === '/privacy') return 'Privacy and Cookies'
      if (currentPath === '/checkout') return 'Checkout'
      if (currentPath.includes('/profile')) return 'Profile and orders'
      if (currentPath.includes('/product-detail')) return 'Product Detail'
      if (currentPath.includes('orderdetails')) return 'Order Details'
      return 'Title'
    }
  },
  methods: {
    ...mapGetters('firestore', ['getShoppingCartFromState']),
    ...mapActions('firestore', ['logoutUser']),
    logoutFirebaseUser () {
      this.logoutUser()
      this.$router.replace('/login')
    },
    cartCleared (x) {

      console.log('cart cleared event fired by Checkout page')
    }
  },
  mounted () {

    this.cart = this.getShoppingCartFromState()
  },
  data () {
    cart: []
    showCart: true
    signedIn: false
    return {
      leftDrawerOpen: false,
      showBasket: false,
      signedIn: false,
      cart: [],
      showCart: true,
      essentialLinks: [
        {
          title: 'Docs',
          caption: 'quasar.dev',
          icon: 'school',
          link: 'https://quasar.dev'
        },
        {
          title: 'Twitter',
          caption: '@quasarframework',
          icon: 'rss_feed',
          link: 'https://twitter.quasar.dev'
        },
        {
          title: 'Facebook',
          caption: '@QuasarFramework',
          icon: 'public',
          link: 'https://facebook.quasar.dev'
        }
      ]
    }
  }
}
</script>
<style lang="sass" scoped>
   a
    display: block
    padding: 6px 12px
    text-decoration: none
  
</style>
