<template>
<q-form @submit="submitForm">
    <q-input
        v-if="tab == 'register'"
        v-model="formData.name"
        class="q-mb-md"
        outlined
        label="Name" />
    <q-input
        v-model="formData.email"
        class="q-mb-md"
        outlined
        type="email"
        label="Email" />
    <q-input
        v-model="formData.password"
        class="q-mb-md"
        outlined
        type="password"
        label="Password" />
    <div class="row">
        <q-space />
        <q-btn
            color="primary"
            type="submit"
            :label="tab" />
    </div>
</q-form>
</template>
<script lang="ts">
import Vue from 'vue'
import { mapActions } from 'vuex'
import { firebaseAuth, firestoreDb, firebaseDb, firebaseRoot } from 'boot/firebase'
export default Vue.extend({
props: ['tab'],
    data () {
        return {
            formData: {
                name: '',
                email: '',
                password: ''
            }
        }
    },
    methods: {
        ...mapActions('firestore', ['registerUser', 'loginUser']),
        submitForm () {
            if (this.tab === 'login') {

                firebaseAuth.signInWithEmailAndPassword(this.formData.email, this.formData.password)
               .then(response => {
                   const user = firebaseAuth.currentUser
                   if (user !== null) {
                       const userId = user.uid
                        firebaseDb.ref('users/' + userId).once('value', snapshot => {
                            this.loginUser({
                                userDetails: {
                                name: user.displayName,
                                userid: userId,
                                email: user.email
                                }
                            })
                        })
                        // TODO at soime point -add this to the firestoredb
                   }
               })

                // this.loginUser(this.formData)
                console.log('login the user')
                this.$router.replace('/profile')
            } else {
                this.registerUser(this.formData)
                console.log('register the user')
            }
        }
    }
})
</script>
