<template>
<q-form @submit="submitForm">
    <q-input
        v-if="tab == 'register'"
        v-model="formData.name"
        class="q-mb-md"
        outlined
        label="Name" />
    <q-input
        v-model="formData.email"
        class="q-mb-md"
        outlined
        type="email"
        label="Email" />
    <q-input
        v-model="formData.password"
        class="q-mb-md"
        outlined
        type="password"
        label="Password" />
    <div class="row">
        <q-space />
        <q-btn
            color="primary"
            type="submit"
            :label="tab" />
    </div>
</q-form>
</template>
<script lang="ts">
import Vue from 'vue'
import { mapActions } from 'vuex'
import { firebaseAuth, firestoreDb, firebaseDb, firebaseRoot } from 'boot/firebase'
export default Vue.extend({
props: ['tab'],
    data () {
        return {
            formData: {
                name: '',
                email: '',
                password: ''
            }
        }
    },
    methods: {
        ...mapActions('firestore', ['upgradeUser']),
        submitForm () {
            
                this.upgradeUser(this.formData)
                console.log('register the user')
                this.$router.replace('/checkout')
            
        }
    }
})
</script>
