<template>
    <q-banner
    dense
    inline-actions
    :class="bgColor"
    class="list-header text-white text-center">
    <span class="text-bold text-subtitle1"><slot></slot></span>
  </q-banner>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    props: ['bgColor']
})
</script>

<style lang="sass" scoped>
.custom-caption
  text-align: center
  padding: 12px
  color: white
  background-color: rgba(0, 0, 0, .3)
.list-header
 border-top-left-radius: 5px
 border-top-right-radius: 5px
</style>
