<template>
    <q-carousel-slide 
    :name="slide.name" 
    :img-src="slide.mainimage"
    >
            <div class="absolute-bottom custom-caption">
                <div class="text-h2">
                    <span v-html="slide.description"></span>
                </div>
            </div>
          </q-carousel-slide>
</template>
<script>
export default {
    props: ['slide']
    
}
</script>
