<template>
    <q-card class="my-card">
        <q-card-section>
        <q-item-label
        v-html="post.updated"
        >

        </q-item-label>
        <q-item-label
        v-html="post.title"
        ></q-item-label>
        <q-item-label
        v-html="post.content"
        ></q-item-label>
        <q-img class="postImage rounded-borders"
        :src="post.headlineimage"
        
        />
        </q-card-section>
    </q-card>
</template>
<script>
export default {
    props: ['post']
}
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
  margin-top: 6px
.h6 
    margin: 0px
.postImage
    max-width: 350px
  
</style>
