<template>
    <q-card class="my-card">
        <q-card-section>
            <q-list>
                <q-item>
                    <q-item-section class="title">
                        <q-img 
                        class="top-image rounded-borders"
                        spinner-color="white"
                         :src="homepage.headlineimage"/>
                    </q-item-section>
                </q-item>
                <q-item>
                <q-item-section class="title text-h5"
                v-html="homepage.title"
                ></q-item-section>

                </q-item>
                <q-item>
                <q-item-section class="title text-h6"
                v-html="homepage.subtitle"
                ></q-item-section>

                </q-item>
                <q-item>
                <q-item-section
                v-html="homepage.content"
                ></q-item-section>
                </q-item>
                <q-item>
                <q-item-section
                v-html="homepage.subcontent"
                ></q-item-section>
                </q-item>
                <q-item>
                    <q-item-section>
                       <span> Visit our Online Shop 
                        <q-btn
                            flat
                            dense
                            round 
                            icon="store"
                            to="/shop"
                            color="primary"
                        /></span>
                    </q-item-section>
                </q-item>
            </q-list>
        </q-card-section>
    </q-card>
</template>
<script>
export default {
    props: ['homepage']
    
}
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
  margin-top: 6px
.title
  text-align: center
.top-image
  max-width: 280px
  height: auto
  display: block
  margin-left: auto
  margin-right: auto
  
</style>
