<template>
    <q-page class="flex q-pa-md">
        <div class="full-width">
            <listheader
            bgColor="bg-orange-4"
            >Checkout
            </listheader> 
            <q-item>
            <q-card class="full-width">
                <q-card-section>
                    <orders
                    :cart="cart" />
                </q-card-section>
            </q-card>
            </q-item>
            <q-item v-if="!loggedIn">
                <q-card class="full-width">
                    <q-card-section class="row">
                        <p>
                            Note: You have chosen not to register or login. You will not be able to view this order online after placing it.
                        </p>
                    </q-card-section>
                </q-card>
            </q-item>
            <q-item>
            <q-card class="full-width">
               <q-card-section class="row full-width">
                   <q-form 
                   class="q-gutter-md"
                   @submit.prevent="submitForm">
                    <q-input 
                        filled
                        name="fullname"
                        label="Full Name"
                        hint="Name and last name"
                        v-model="orderForm.fullname"
                        class="field"
                        placeholder="Jenny Rosen" 
                        required/>
                        <q-input
                            filled
                            label="Address first line"
                            hint="First line of address"
                            name="addressFirstLine"
                            v-model="orderForm.addressFirstLine" 
                            class="field" 
                            placeholder="Address first line" 
                            required/>
                        <q-input 
                            filled
                            label="Address second line"
                            hint="Second line of address"
                            name="addressSecondLine"
                            v-model="orderForm.addressSecondLine" 
                            class="field" 
                            placeholder="Address second line"/>
                        <q-input
                            filled
                            label="Town"
                            hint="Town"
                            name="Town"
                            v-model="orderForm.Town"
                            class="field" 
                            placeholder="Town"
                            required/>
                        <q-input 
                            filled
                            label="Postcode"
                            hint="Postcode"
                            name="Postcode"
                            v-model="orderForm.Postcode"
                            class="field" 
                            placeholder="Postcode" 
                            required/>
                        <q-input 
                            filled
                            label="Contact Phone No."
                            hint="Phone number"
                            name="contactPhone"
                            v-model="orderForm.contactPhone"
                            class="field" 
                            placeholder="Phone number" 
                            required/>
                        <q-input
                            filled
                            label="Email Address"
                            hint="Contact Email Address"
                            name="contactEmail"
                            v-model="orderForm.contactEmail"
                            class="field" 
                            placeholder="Email Address" 
                            required/>
                        <q-input 
                            filled
                            label="Delivery Notes"
                            hint="Delivery notes (optional)"
                            name="deliverNote"
                            type="textarea"
                            v-model="orderForm.deliverNote"
                            class="field"/>
                        <q-card-actions align="right" v-if="submitted == false">
                            <q-btn
                                label="Place Order"
                                color="primary"
                                type="submit" 
                                icon-right="shopping_cart"
                                :loading="submitting"
                                />
                                <template v-slot:loading>
                                    <q-spinner-facebook />
                                </template>
                        </q-card-actions>
                        <q-card-actions v-else>
                            <div>Your order has been placed</div>
                        </q-card-actions>
                   </q-form>
               </q-card-section>
            </q-card>
            </q-item>
        </div>
        <div>
            <q-btn
                label="click me then"
                name="clickme"
                @click.stop="sendEvent()"
            />
        </div>
    </q-page>
</template>
<script lang="ts">
import Vue from 'vue'
import { mapActions, mapGetters, mapState } from 'vuex'
import { firebaseAuth, firestoreDb, firebaseRoot, firebaseDb } from 'boot/firebase'
// https://blog.logrocket.com/how-to-make-http-requests-like-a-pro-with-axios/
import AxiosPlugin from 'vue-axios-cors'

export default Vue.extend({
    data () {
        cart: []
        finalCart: []
        orderId: ''
        orderCreated: false
        submitting: false
        submitted: false
        orderForm: {
            fullname: ''
            addressFirstLine: ''
            addressSecondLine: ''
            Town: ''
            Postcode: ''
            contactPhone: ''
            contactEmail: ''
            deliverNote: ''
        }
        return {
            cart: [],
            finalCart: [],
            orderId: '',
            orderCreated: false,
            submitting: false,
            submitted: false,
            orderForm: {
                fullname: '',
                addressFirstLine: '',
                addressSecondLine: '',
                Town: '',
                Postcode: '',
                contactPhone: '',
                contactEmail: '',
                deliverNote: ''
            },
            loggedIn: false
        }
    },
    methods: {
        ...mapGetters('firestore', ['getShoppingCartFromState']),
        ...mapActions('firestore', ['addAnonymousUser', 'getBasketFromState', 'clearBasket']),
        sendEvent () {
            console.log('Clicked button')
            this.$emit('cartcleared', 'cart was cleared (from checkout page)')
        },
        submitForm () {
          // Call your backend to create the Checkout session.
          // If this user is not signed in then sign them in anonymously
          const user = firebaseAuth.currentUser

          if (user === null) {
              // User is not logged in but they may have an account
              // Check this by their email address and password
              // const userExists = this.checkUserExists(this.orderForm.contactEmail)

               this.addAnonymousUser()
          } 

          // Now process the data
          this.processFormAfterUser()
          
        },
        processFormAfterUser () {

            const user = firebaseAuth.currentUser
            if (user !== null) {
            try {
                    this.submitting = true
                    const uid = user.uid
                    const sessionId = uid
                    const datetimecreated = firebaseRoot.firestore.Timestamp.fromDate(new Date())
                    
                    // console.log('userid we just created or retrieved ' + sessionId)
                    // Create the customer details in FireStore
                    // console.log('fullname from form ' + this.orderForm.fullname)
                    // Add the orders to the Order table in FireStore
                    const ordersRef = firestoreDb
                    .collection('Orders')
                    .add({
                        Fullname: this.orderForm.fullname,
                        AddressFirstLine: this.orderForm.addressFirstLine,
                        AddressSecondLine: this.orderForm.addressSecondLine,
                        AddressThirdLine: this.orderForm.Town,
                        ContactPhone: this.orderForm.contactPhone,
                        ContactEmail: this.orderForm.contactEmail,
                        PostCode: this.orderForm.Postcode,
                        DeliveryNote: this.orderForm.deliverNote,
                        UserId: uid,
                        status: 'New',
                        updated_at: datetimecreated
                    })
                    .then((docRef) => {
                         console.log('order added id= ' + docRef.id)
                        this.orderId = docRef.id
                        // console.log('this.orderId ' + this.orderId)
                        this.orderCreated = true

                            // Loop through state items
                            Object.keys(this.$store.state.firestore.basket).forEach((key, index) => {
                            
                                const sku = this.$store.state.firestore.basket[key].sku
                                const qty = this.$store.state.firestore.basket[key].amount
                                const name = this.$store.state.firestore.basket[key].name
                                const ordertotal = this.$store.state.firestore.basket[key].ordertotal
                                const price = this.$store.state.firestore.basket[key].price

                                const orderLinesRef = firestoreDb
                                .collection('OrderItems')
                                .add({
                                    OrderId: docRef.id,
                                    Qty: qty,
                                    Sku: sku,
                                    Name: name,
                                    OrderTotal: ordertotal,
                                    Price: price,
                                    UserId: uid
                                })
                                .then((docRef) => {
                                    // console.log('order line added id= ' + docRef.id)
                                })
                                .catch(err => {
                                    console.log('error adding the order line item', err)
                                })
                            })

                            // Clear the shopping cart 
                            this.clearBasket()
                            // Emit an event to the layout page
                            this.$emit('cartcleared', 'cart was cleared (from checkout page)')

                            // Send an email
                            this.sendEmails(
                                this.orderForm.contactEmail, 
                                'my message place holder',
                                this.orderForm.fullname,
                                this.orderForm.contactPhone,
                                docRef.id)

                    })
                    .catch(err => {
                        console.log('error adding the order', err)
                    })
                } catch (error) {
                  
                  console.log(error)
              } finally {
                  // 
                  console.log('order and emails sent')
                  // Show the spinner if this is taking a long time
                  this.submitting = false
                  
                  // Clear the basket
                  // Update the screen to say that the order has been placed
                  this.submitted = true
                  // disable the button
              }
            }
        },
        checkUserExists (email) {
            const usersRef = firebaseDb.ref('Users/')
            // .orderByChild('email').equalTo(email)
            .once('value', snapshot => {
                const userRef = snapshot.val()
                if (userRef !== null) {

                    console.log('User exists ' + userRef.email)
                } else {
                    console.log('User does not exist')
                }
            })
        },
        sendEmails (
            email: string,
            message: string,
            fullname: string,
            phonenumber: string,
            ordernumber: string) {

             const optionAxios = {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }

            const options = {
                url: 'https://us-central1-ginadesign-4824a.cloudfunctions.net/orderAlert',
                method: 'POST',
                data: {
                 email: email,
                 message: message,
                 fullname: fullname,
                 phonenumber: phonenumber,
                 ordernumber: ordernumber
                }
            }
            this.$axios(options)
            .then((res) => {
             console.log('Post Succeeded to function')
            })
            .catch(err => {
                console.log('error' + err)
            })
        },
        toggleLoggedIn () {
            this.loggedIn = true
        }
    },
    components: {
        listheader: require('components/Shared/ListHeader.vue').default,
        orders: require('components/shop/Checkout/Orders').default
        // modalbuttons: require('components/shop/checkout/controls/modalbuttons').default

    },
    mounted () {
        
         this.cart = this.getShoppingCartFromState()
         const user = firebaseAuth.currentUser
         if (user !== null) {
             console.log('UserId ' + user.displayName)
             this.toggleLoggedIn()
         }
    }
})
</script>
<style lang="sass" scoped>
.fieldsetform
    border: 0px

</style>
