<template>
    <q-page class="flex q-pa-md">
        <div class="full-width">
            <listheader
            bgColor="bg-orange-4"
            >About Gianna d'art
            </listheader> 
            <q-card class="full-width">
                <q-card-section class="row" 
                v-for="(item, key) in aboutUs"
                :key="key"
                >
                <q-list>

                   <q-item-section class="header title" v-html="item.header"></q-item-section>
                   <q-item-section class="header" v-html="item.subtitle"></q-item-section>
                   <q-item-section class="header" v-html="item.maincontent"></q-item-section>

                </q-list>
                </q-card-section>
            </q-card>
        </div>
    </q-page>
</template>
<script lang="ts">
import Vue from 'vue'
import { firestoreDb } from 'boot/firebase'
export default Vue.extend({
    data () {
        aboutUs: Array<{
            header: string;
            subtitle: string;
            maincontent: string;
        }>()
        return {
            aboutUs: Array<{
            header: string;
            subtitle: string;
            maincontent: string;
        }>()
        }

    },
    methods: {
        getAboutUs () {
            const db = firestoreDb
             // Get the about us data from firebase
             const aboutUsRef = db.collection('AboutUs')
             .get()
             .then(snapshot => {
                 snapshot.forEach((doc) => {

                const aboutUsLocal = {
                    header: '',
                    subtitle: '',
                    maincontent: ''
                }
                 aboutUsLocal.header = doc.data().Header
                 aboutUsLocal.subtitle = doc.data().SubTitle
                 aboutUsLocal.maincontent = doc.data().MainContent

                    this.aboutUs.push(aboutUsLocal)
                 })
             }).catch(err => {
                 console.log('error getting document', err)
             })

        }
    },
    mounted () {
        //
        this.getAboutUs() 
    },
    components: {
        listheader: require('components/Shared/ListHeader.vue').default
    }
})
</script>
<style lang="sass" scoped>
.header
    display: block
.title
  text-align: center
</style>
