<template>
    <q-page class="flex q-pa-md">
        <div class="full-width">
            <listheader
            bgColor="bg-orange-4"
            >Contact Us
        </listheader> 
            <q-card class="full-width">
                <q-card-section class="row">
                    <contactdetails
                    v-for="(item) in address"
                    :key="item.key"
                    :businessAddress="item"
                    ></contactdetails>
                </q-card-section>
            </q-card>
        </div>
    </q-page>
</template>
<script lang="ts">
import Vue from 'vue'
import { firestoreDb } from 'boot/firebase'
export default Vue.extend({
    data () {
        address: Array<{
                name: string; 
                lineOne: string; 
                lineTwo: string; 
                lineThree: string;
                county: string;
                postcode: string;
                phonenumber: string;
                email: string;  
             }>()
      return {
        showForm: false,
        address: Array<{
                name: string; 
                lineOne: string; 
                lineTwo: string; 
                lineThree: string;
                county: string;
                postcode: string;
                phonenumber: string;
                email: string;  
             }>()
      }
    },
    components: {
        listheader: require('components/Shared/ListHeader.vue').default,
        contactdetails: require('components/contact/BusinessContactDetails').default
    },
    mounted () {
        console.log('mounted fired')
        const postsListRef = firestoreDb
        .collection('BusinessAddress')
        .get()
        .then(snapshot => {

            snapshot.forEach(doc => {
                const businessAddress = {
                    name: '',
                    lineOne: '',
                    lineTwo: '',
                    lineThree: '',
                    county: '',
                    postcode: '',
                    phonenumber: '',
                    email: ''
                }

                businessAddress.name = doc.data().name
                businessAddress.lineOne = doc.data().AddressFirstLine
                businessAddress.lineTwo = doc.data().AddressSecondLine
                businessAddress.lineThree = doc.data().AddressThirdLine
                businessAddress.county = doc.data().AddressCounty
                businessAddress.postcode = doc.data().AddressPostcode
                businessAddress.phonenumber = doc.data().ContactPhoneNumber
                businessAddress.email = doc.data().ContactEmailAddress

                this.address.push(businessAddress)
            })
        })
    }
    
})
</script>
<style lang="sass" scoped>

</style>
