<template>
  <q-page class="flex q-pa-md">
    <top-content
    v-for="(item) in homepage"
    :key="item.key"
    :homepage="item"
    >
    </top-content>
<q-card class="full-width card">
  <q-carousel
            arrows
            animated
            v-model="slide"
            height="400px"
            shadow-10
          >
      <q-carousel-slide
        v-for="slide in carousel"
        :key="slide.key" 
        :name="slide.name" 
        :img-src="slide.mainimage">
              <div class="absolute-bottom custom-caption">
                <div class="text-h2">
                </div>
                <div class="text-subtitle1">
                  <span v-html="slide.description"></span>
                  </div>
              </div>
      </q-carousel-slide>
  </q-carousel>
</q-card>
    <post
    v-for="(post) in posts"
    :key="post.key"
    :post="post"
    >
    </post>
     <!-- place QPageScroller at end of page -->
    <q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
      <q-btn fab icon="keyboard_arrow_up" color="accent" />
    </q-page-scroller>
  </q-page>
</template>

<script lang="ts">
import Vue from 'vue'
// import ExampleComponent from 'components/CompositionComponent.vue'
// import { Todo, Meta } from 'components/models'
// import Vue from 'vue'
import { firestoreDb } from 'boot/firebase'
import { date } from 'quasar'

export default Vue.extend({
  data () {
    headers: []
    posts: Array<{ content: string; title: string; headlineimage: string; key: string; updated: string }>()
    homepage: Array<{ title: string; subtitle: string; content: string; subcontent: string; headlineimage: string; key: string }>()
    carousel: Array<{ name: string; description: string; mainimage: string; key: string }>()
    return {
            title: '',
            body: '',
            posts: Array<{ content: string; title: string; headlineimage: string; key: string; updated: string }>(),
            homepage: Array<{ title: string; subtitle: string; content: string; subcontent: string; headlineimage: string; key: string }>(),
            carousel: Array<{ name: string; description: string; mainimage: string; key: string }>(),
            slide: 'first',
            header: []
          }
  },
  name: 'PageIndex',
  methods: {
  },
  components: {
    'top-content': require('components/homepage/TopContent').default,
    post: require('components/homepage/post').default
    // eslint-disable-next-line vue/no-unused-components
    // slide: require('components/homepage/CarouselSlide').description

  },
  // eslint-disable-next-line @typescript-eslint/no-empty-function
  mounted () {

    const postsListRef = firestoreDb
    .collection('Posts')
    .get()
    .then(snapshot => {

      snapshot.forEach(doc => {
          const post = {
            content: '',
            title: '',
            headlineimage: '',
            key: '',
            updated: ''
          }
          post.content = doc.data().content
          post.title = doc.data().title
          post.headlineimage = doc.data().HeadlineImage
          post.key = doc.data().key
          post.updated = doc.data().PublishedDate
          console.log('last updated ' + doc.data().PublishedDate)

          const formattedDate = date.formatDate(post.updated, 'YYYY-MM-DDTHH:mm:ss.SSSZ')

          const dateToFormat = new Date(formattedDate).toDateString()

          // console.log('datetoformat result ' + dateToFormat)
          post.updated = dateToFormat
          
          this.posts.push(post)
      })
    })

      const homepageRef = firestoreDb
      .collection('HomePage')
      .get()
      .then(snapshot => {

      snapshot.forEach(doc => {
          const homePage = {
            
            title: '',
            subtitle: '',
            content: '',
            subcontent: '',
            headlineimage: '',
            key: ''
          }

          homePage.title = doc.data().Title
          homePage.subtitle = doc.data().SubTitle
          homePage.content = doc.data().Content
          homePage.subcontent = doc.data().SubContent
          homePage.headlineimage = doc.data().HeadlineImage
          homePage.key = doc.data().key
          this.homepage.push(homePage)
      })
    })

    const carouselRef = firestoreDb
    .collection('HomeCarousel')
    .get()
    .then(snapshot => {

      snapshot.forEach(doc => {

        const slide = {
          name: '',
          description: '',
          mainimage: '',
          key: ''
        }

        slide.name = doc.data().name
        slide.description = doc.data().Description
        slide.mainimage = doc.data().MainImage
        slide.key = doc.data().key
        this.carousel.push(slide)

      })

    })

  },
  meta: {
    // sets document title
    title: 'Home Page',
    // optional; sets final title as "Index Page - My Website", useful for multiple level meta
    titleTemplate: title => `${title} - Gianna Design`,

    // meta tags
    meta: {
      description: { name: 'Gianna Design Home Page', content: 'Home Page' },
      keywords: { name: 'keywords', content: 'Gianna Design African Prints Shabby Chic' },
      equiv: { 'http-equiv': 'Content-Type', content: 'text/html; charset=UTF-8' }
    }
  }
})
</script>
<style lang="sass" scoped>
.custom-caption
  text-align: center
  padding: 12px
  color: white
  background-color: rgba(0, 0, 0, .3)
.card
  margin-top: 6px
</style>
