<template>
    <q-page class="q-pa-md">
        <div class="q-pa-md q-gutter-sm">
            <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/" />
            <q-breadcrumbs-el label="Products" icon="shop" />
            </q-breadcrumbs>
        </div>
        <listheader
        bgColor="bg-orange-4">
        Products
        </listheader>
        <q-list
            separator bordered>
            <productlistitem
            v-for="(product, sku) in productsFromState" :key="sku"
            :product="product"
            v-on:cartupdated="toggleHeader($event)"
            ></productlistitem>
            <div class="q-pa-lg flex flex-center">
                <q-pagination
                v-model="current"
                color="deep-orange"
                :max="5"
                :boundary-links="true"
                >
                </q-pagination>
            </div>
        </q-list>
    </q-page>
</template>
<script lang="ts">
import Vue from 'vue'
import { mapActions, mapGetters } from 'vuex'
export default Vue.extend({
    name: 'OnlineShop',
    data () {
        addedToCart: false
        current: 1
        pageCount: 0
        products: {}
        return {
            products: {},
            current: 1,
            addedToCart: false,
            pageCount: 0
        }
    },
    components: {
        listheader: require('components/Shared/ListHeader.vue').default,
        productlistitem: require('components/shop/ProductListItem').default
    },
    methods: {
         ...mapActions('firestore', ['getProducts']),
        toggleHeader (x) {
        // Output something
        this.addedToCart = true

            // Emit this to the parent page
            this.$emit('cartupdated', 'cart was updated (from OnlineShop Page)')
            console.log('cart updated event fired by Online Shop Page')
        }
    },
    computed: {
        ...mapGetters('firestore', ['productsFromState', 'productsCount'])
    },
    mounted () {
        console.log('mounted fired in online shop page')
        console.log('products count ' + this.productsCount)

    }
})
</script>
