<template>
    <q-page class="flex q-pa-md">
        <div class="full-width">
            <listheader
            bgColor="bg-orange-4"
            >Portfolio
        </listheader> 
            <q-card class="full-width">
                <q-card-section class="row">
                   
                </q-card-section>
            </q-card>
        </div>
    </q-page>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    components: {
        listheader: require('components/Shared/ListHeader.vue').default
    }
})
</script>
