<template>
    <q-page class="q-pa-md">
        <div class="q-pa-md q-gutter-sm">
            <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/" />
            <q-breadcrumbs-el label="Products" icon="store" />
            </q-breadcrumbs>
        </div>
        <listheader
        bgColor="bg-orange-4">
        Products
        <q-btn-dropdown
            v-model="categories"
            class="glossy q-ml-lg"
            color="primary"
            label="Categories">
            <q-list>
                <q-item clickable v-close-popup @click="onItemClick('African fabric')">
                    <q-item-section>
                        <q-item-label>African fabric</q-item-label>
                    </q-item-section>
                </q-item>
                <q-item clickable v-close-popup @click="onItemClick('European fabric')">
                    <q-item-section>
                        <q-item-label>European fabric</q-item-label>
                    </q-item-section>
                </q-item>
            </q-list>
        </q-btn-dropdown>
        </listheader>
        <q-list separator bordered>
            <productlistitem
            v-for="(product, sku) in products" :key="sku"
            :product="product"
            v-on:cartupdated="toggleHeader($event)"
            ></productlistitem>
            
                <!-- <q-pagination
                    v-model="page"
                    color="deep-orange"
                    :max="5"
                    :boundary-links="true"
                    input
                    @input="getProductsPaged"
                >
                </q-pagination> -->
                 <!-- <q-btn
                    @click.stop="showPrevious(previousPage)"
                    flat
                    round
                    dense
                    color="red"
                    label="Previous" />
                    <div>&nbsp;</div>
                <q-btn
                    @click.stop="showNext(nextPage)"
                    flat
                    round
                    dense
                    color="red"
                    label="Next" /> -->
            
        </q-list>
    </q-page>
</template>
<script lang="ts">
import Vue from 'vue'
import { firestoreDb } from 'boot/firebase'
export default Vue.extend({
    name: 'OnlineShop',
    data () {
        addedToCart: false
        page: 1
        nextPage: 2
        previousPage: 1
        pageCount: 0
        lastVisible: ''
        categories: false
        products: Array<{
                name: string;
                image: string;
                imagelarge: string;
                featured: string;
                sku: string;
                price: string;
                thumbnail: string;
                category: string;
                issingleitem: string;
                priceper: string;
                stock: string;
            }>()
        return {
            addedToCart: false,
            page: 1,
            nextPage: 2,
            previousPage: 1,
            pageCount: 0,
            lastVisible: '',
            categories: false,
            products: Array<{
                name: string;
                image: string;
                imagelarge: string;
                featured: string;
                sku: string;
                price: string;
                thumbnail: string;
                category: string;
                issingleitem: string;
                priceper: string;
                stock: string;
            }>()
        }
     },
    components: {
        listheader: require('components/Shared/ListHeader.vue').default,
        productlistitem: require('components/shop/ProductListItem').default
    },
    meta: {
        // sets document title
        title: 'Products Page',
        // optional; sets final title as "Index Page - My Website", useful for multiple level meta
        titleTemplate: title => `${title} - Gianna Design`,

        // meta tags
        meta: {
        description: { name: 'Gianna Design Products Page', content: 'Products Page' },
        keywords: { name: 'keywords', content: 'Gianna Design African Prints Shabby Chic' },
        equiv: { 'http-equiv': 'Content-Type', content: 'text/html; charset=UTF-8' }
        }
    },
    methods: {
        onItemClick (category) {
            //
            this.getProductsPaged(category)
        },
        toggleHeader (x) {
        // Output something
        this.addedToCart = true

            // Emit this to the parent page
            this.$emit('cartupdated', 'cart was updated (from OnlineShop Page)')
            console.log('cart updated event fired by Online Shop Page')
        },
        getProducts (limit: number) {
            const productsListener = firestoreDb
        .collection('Shop')
        // eslint-disable-next-line quotes
        .where("category", "==", "African fabric")
        .orderBy('name')
        .limit(limit)
        .get()
        .then(snapshot => {
            // Get the last visible doc
            const lastVisible = snapshot.docs[snapshot.docs.length - 1].id
            console.log('last visible id -getproducts ' + snapshot.docs[snapshot.docs.length - 1].id)
            this.lastVisible = lastVisible
            snapshot.forEach((doc) => {

                const product = {
                    name: '',
                    image: '',
                    imagelarge: '',
                    featured: '',
                    sku: '',
                    price: '',
                    thumbnail: '',
                    category: '',
                    issingleitem: '',
                    priceper: '',
                    stock: ''
                }
                    product.name = doc.data().name
                    product.image = doc.data().image
                    product.imagelarge = doc.data().imagelarge
                    product.featured = doc.data().featured
                    product.sku = doc.data().SKU
                    product.price = doc.data().price
                    product.thumbnail = doc.data().thumbnail
                    product.category = doc.data().category
                    product.issingleitem = doc.data().issingleitem
                    product.priceper = doc.data().priceper
                    product.stock = doc.data().stock
                    const productsku = doc.data().SKU
                    const productName = product.name
                    console.log(productName)

                if (!this.products.some(e => e.name === productName)) {
                        this.products.push(product)
                }
                // this.products.push(product)
            })
        })
        },
        getProductsPaged (category) {
            console.log('last visible property ' + this.lastVisible)
            // clear the products array
            this.products.length = 0
             const productsListener = firestoreDb
            .collection('Shop')
            // eslint-disable-next-line quotes
            .where("category", "==", category)
            .orderBy('name')
            .limit(4)
            .get()
            .then(snapshot => {
                // Get the last visible doc
                snapshot.forEach((doc) => {

                    const product = {
                        name: '',
                        image: '',
                        imagelarge: '',
                        featured: '',
                        sku: '',
                        price: '',
                        thumbnail: '',
                        category: '',
                        issingleitem: '',
                        priceper: '',
                        stock: ''
                    }
                        product.name = doc.data().name
                        product.image = doc.data().image
                        product.imagelarge = doc.data().imagelarge
                        product.featured = doc.data().featured
                        product.sku = doc.data().SKU
                        product.price = doc.data().price
                        product.thumbnail = doc.data().thumbnail
                        product.category = doc.data().category
                        product.issingleitem = doc.data().issingleitem
                        product.priceper = doc.data().priceper
                        product.stock = doc.data().stock
                        const productsku = doc.data().SKU
                        const productName = product.name
                        if (!this.products.some(e => e.name === productName)) {
                            console.log('product name ' + product.name)
                        this.products.push(product)
                        }
                })
            })
        },
        showNext () {
            // 
            this.nextPage = this.page + 1
            this.getProductsPaged(this.page + 1)
            console.log('next page ' + this.nextPage)
        },
        showPrevious () {
            // 
            this.previousPage = this.page - 1
            this.getProductsPaged(this.page - 1)
            console.log('previous page ' + this.previousPage)
        },
        init () {
  
            /*
                Load questions of first page
            */
            // this.onPageChange(0, 0)
        }
    },
    mounted () {
      // On mounted get a default of 3 products set page to 1
      console.log('Mounted fired')
      this.getProducts(4)
      this.page = 1
      this.nextPage = 2
      this.previousPage = 1

    }
})
</script>
