<template>
<q-card-actions align="right">
<q-btn
    label="Submit"
    color="primary"
    type="submit" />
</q-card-actions>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    
})
</script>
