<template>
<q-card-actions align="right">
<q-btn
    label="Place Order"
    color="primary"
    type="submit" 
    icon-right="shopping_cart"
    />
</q-card-actions>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    
})
</script>
