<template>
<q-card-section class="row">
    <div class="text-h6"><slot></slot></div>
    <q-space />
<q-btn
v-close-popup
flat
round
dense
color="primary"
icon="cancel" />
</q-card-section>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    
})
</script>
