<template>
   <q-card>
    <q-markup-table flat bordered>
      <thead class="bg-grey">
        <tr>
          <th colspan="7">
            <div class="row no-wrap items-center">
              <q-img
                style="width: 70px"
                :ratio="1"
                class="rounded-borders"
                src="https://storage.googleapis.com/ginadesign-4824a.appspot.com/Shop/-M7gXn2OGtgcY18PmY2N/image/kente.jpg"
              />
              <div class="text-h4 q-ml-md text-white">Your Order</div>
            </div>
          </th>
        </tr>
        <tr v-if="cart.length !== 0">
          <th class="text-left">Product Name</th>
          <th class="text-right">Qty</th>
          <th class="text-right">Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="bg-grey-3" v-if="cart.length !== 0">
        <tr v-for="(item, key) in cart" :key="key">
          <td class="text-left">{{ item.name }}</td>
          <td class="text-right">{{ item.amount }}</td>
          <td class="text-right">£{{ item.ordertotal }}</td>       
          <td class="text-right">
              <q-btn
                    @click.stop="removeFromBasket(item.sku)"
                    flat
                    round
                    dense
                    color="primary"
                    icon="remove_shopping_cart" 
                />
          </td>
        </tr>
        <tr v-if="cart.length !== 0">  
            <td>Grand Total</td>
            <td></td>
            <td>£ {{ showGrandTotal }}</td>
            <td></td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr>
          <td colspan="4">Your order is empty</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </q-markup-table>
</q-card> 
</template>
<script lang="ts">
import Vue from 'vue'
import { mapActions } from 'vuex'
import { firebaseAuth } from 'boot/firebase'
export default Vue.extend({
    data () {
        totalToPay: 0
        localCart: []
        return {
            totalToPay: 0,
            localCart: []
        }
    },
    props: ['cart'],
    methods: {
        ...mapActions('firestore', ['removeProductFromBasket', 'addAnonymousUser']),
        removeFromBasket (sku) {
            this.removeProductFromBasket(sku)
            this.readCart()
        },
        readCart () {

                let totalAmount = 0
                for (const key in this.cart) {

                    const ordertotal = this.cart[key].ordertotal

                    console.log('this is the total ' + ordertotal)

                    totalAmount += ordertotal
                }

                console.log('Total Amount from readcart fired ' + totalAmount)
                
                this.totalToPay = totalAmount
        }
    },
    computed: {
        showGrandTotal () {
            let totalAmount = 0
                for (const key in this.cart) {

                    const ordertotal = this.cart[key].ordertotal

                    console.log('this is the total ' + ordertotal)

                    totalAmount += ordertotal
                }

                console.log('Total Amount from computed firec ' + totalAmount)
                
                // this.totalToPay = totalAmount
                return totalAmount
        }
    }
})
</script>
