<template>
    <q-page class="flex q-pa-md">
        <div class="full-width">
            <q-card class="full-width">
                <q-card-section class="row">
                <img
                    width="220"
                    height="210"
                    :src="product.imagelarge"
                    class="rounded-borders product-image"
                    spinner-color="white"
                />
                </q-card-section>
            </q-card>
        </div>
    </q-page>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    props: ['product']
})
</script>
