<template>
    <q-item
        class="bg-green-1"
        v-ripple
        clickable
        @click.stop="showProductDetail = true"
        >
        <q-item-section>
            <q-item-label>
                {{ product.name }}
            </q-item-label>          
        </q-item-section>
        <q-item-section>
            <q-item-label>
               £{{ product.price }}
            </q-item-label>          
        </q-item-section>
        <q-item-section>
            <q-item-label>
               {{ product.category }}
            </q-item-label>          
        </q-item-section>
        <q-item-section>
            <q-item-label>
                <img
                :src="product.thumbnail"
                spinner-color="white"
                width="60"
                height="60"
                class="rounded-borders"
                />
            </q-item-label>
        </q-item-section>
        <q-item-section side>
            <div class="row">
                <div class="column justify-center">
                    <q-btn
                    @click.stop="showProductDetail = true"
                    flat
                    round
                    dense
                    color="primary"
                    icon="more_vert" />
                </div>
            </div>
            <span>
                <q-dialog v-model="showProductDetail">
                    <productdetail
                            @close="showProductDetail = false" 
                            :product="product"
                            :sku="product.sku"
                            v-on:cartupdated="toggleHeader($event)"
                    />
                </q-dialog>
            </span>
        </q-item-section>   
    </q-item>
    
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    data () {
        addedToCart: false
        return {
            showProductDetail: false,
            addedToCart: false
        }
    },
    props: ['product'],
    mounted () {
        console.log('Mounted fired in component')
    },
    components: {
        productdetail: require('components/shop/ProductDetail.vue').default
    },
    methods: {
        toggleHeader (x) {
        // Output something
        this.addedToCart = true

            // Emit this to the parent page
            this.$emit('cartupdated', 'cart was updated (from Product Detail component)')
            console.log('cart updated event fired by Product List Item')
        }
    }
})
</script>
<style lang="sass">
.Edit
  margin: 20px
.Dialog
  margin: 10px
</style>
