<template>
        <q-card >
            <q-card-section class="row">
            <modalheader>{{ product.name }}</modalheader>
            </q-card-section>
                <q-card-section>
                    <q-list bordered>
                        <q-item>
                            <q-item-section side top>
                                <q-item-label overline>Product Name: {{ product.name }}</q-item-label>
                                <q-item-label>Category: {{ product.category }}</q-item-label>
                                <q-item-label caption>
                                    Price: £{{ product.price }}
                                    <span v-if="product.priceper">
                                        / {{ product.priceper }}
                                    </span>
                                </q-item-label>
                                <q-item-label
                                v-if="product.stock"
                                >
                                    <span>In Stock</span>
                                    <span v-if="addedToCart"><strong> Item added to basket</strong></span>
                                </q-item-label>
                                <q-item-label
                                v-else
                                >
                                Out of Stock
                                </q-item-label>
                            </q-item-section>
                        </q-item>
                        <q-item>
                            <q-item-section>
                                <addtobasket
                                v-if="product.stock"
                                :amount="product.stock"
                                :product="product"
                                v-on:cartupdated="toggleHeader($event)"
                                />
                            </q-item-section>
                        </q-item>
                        <!-- <q-item>
                            <button class="snipcart-add-item"
                                :data-item-id="product.name"
                                :data-item-price="product.price"
                                data-item-url="/paintings/starry-night"
                                :data-item-description="product.name"
                                :data-item-image="product.image"
                                :data-item-name="product.name"
                            >
                            Add to cart
                            </button>
                        </q-item> -->
                        <q-item>
                            <q-item-section>
                                <q-item-label>
                                <img
                                    width="240"
                                    height="210"
                                    :src="product.image"
                                    class="rounded-borders product-image"
                                    spinner-color="white"
                                    @click.stop="showFullImages = true"
                                    />
                                <!-- <ProductZoomer
                                :base-images="images"
                                :base-zoomer-options="zoomerOptions"
                                /> -->
                                <q-dialog 
                                    v-model="showFullImages"
                                    style="width:600px;">
                                    <fullimages
                                    :product="product"
                                    @close="showFullImages = false">
                                    </fullimages>
                                </q-dialog>
                            </q-item-label>
                            </q-item-section>
                        </q-item>
                    </q-list>
                </q-card-section>
        </q-card>
</template>
<script lang="ts">
import Vue from 'vue'
import { mapGetters, mapActions } from 'vuex'
import ProductZoomer from 'vue-product-zoomer'
Vue.use(ProductZoomer)

export default Vue.extend({
    data () {
        addedToCart: false
        showFullImages: false
        images: {
            thumbs: [{}]
            // eslint-disable-next-line camelcase
            normal_size: [{}]
            // eslint-disable-next-line camelcase
            large_size: [{}]

        }
        zoomerOptions: {
                zoomFactor: 3 // scale for zoomer
                pane: 'pane' // three type of pane ['pane', 'container-round', 'container']
                hoverDelay: 300 // how long after the zoomer take effect
                namespace: 'zoomer' // add a namespace for zoomer component, useful when on page have mutiple zoomer
                // eslint-disable-next-line camelcase
                move_by_click: false // move image by click thumb image or by mouseover
                // eslint-disable-next-line camelcase
                scroll_items: 5 // thumbs for scroll
                // eslint-disable-next-line camelcase
                choosed_thumb_border_color: '#bbdefb' // choosed thumb border color
                // eslint-disable-next-line camelcase
                scroller_button_style: 'line'
                // eslint-disable-next-line camelcase
                scroller_position: 'left'
                // eslint-disable-next-line camelcase
                zoomer_pane_position: 'top'
            }
        return {
            addedToCart: false,
            showFullImages: false,
            images: {
                thumbs: [{}],
                // eslint-disable-next-line camelcase
                normal_size: [{}],
                // eslint-disable-next-line camelcase
                large_size: [{}]
            },
            zoomerOptions: {
                zoomFactor: 3, // scale for zoomer
                pane: 'pane', // three type of pane ['pane', 'container-round', 'container']
                hoverDelay: 300, // how long after the zoomer take effect
                namespace: 'zoomer', // add a namespace for zoomer component, useful when on page have mutiple zoomer
                move_by_click: false, // move image by click thumb image or by mouseover
                scroll_items: 5, // thumbs for scroll
                choosed_thumb_border_color: '#bbdefb', // choosed thumb border color
                scroller_button_style: 'line',
                scroller_position: 'left',
                zoomer_pane_position: 'top'
            }
        }
    },
    props: ['product', 'sku'],
    methods: {
        ...mapActions('firestore', ['getProductDetails']),
        toggleHeader (x) {
        // Output something
        this.addedToCart = true

            // Emit this to the parent page
            this.$emit('cartupdated', 'cart was updated (from Product Detail component)')
        }
    },
    components: {
        modalheader: require('components/Shop/Basket/Modals/ModalHeader').default,
        addtobasket: require('components/Shop/Basket/AddToBasket').default,
        fullimages: require('components/Shop/ImageDisplay/ShowFullImages').default
    },
    mounted () {
        const productMainImage = this.product.image
        const productThumbImage = this.product.thumbnail
        const productLargeImage = this.product.imagelarge

        console.log('main image' + productMainImage)
        console.log('large image ' + productLargeImage)
        console.log('thumb image ' + productThumbImage)

        const thumb = {
            id: 1,
            url: productThumbImage
        }
        const main = {
            id: 1,
            url: productMainImage
        }

        const large = {
            id: 1,
            url: productLargeImage
        }

        // Add to the images collection 
        this.images.thumbs.push(thumb)
        this.images.normal_size.push(main)
        this.images.large_size.push(large)

        console.log('images collection ' + this.images)

    }
})
</script>
<style lang="sass" scoped>
.page-width
  width: 600px
.product-image
  max-width: 240px
</style>
