<template>
    <q-card flat bordered class="my-card">
        <q-card-section class="my-card-section">
            <q-form @submit.prevent="submitForm">
                    <input
                    :v-model="addToBasket.sku"
                    :value="product.sku"
                    type="hidden" />
                    
                    <input
                    :v-model="addToBasket.name"
                    :value="product.name"
                    type="hidden" />
                    
                    <input
                    :v-model="addToBasket.price"
                    :value="product.price"
                    type="hidden" />
        
                    <q-input 
                        ref="addToBasket.amount"
                        filled
                        type="number"
                        v-model="addToBasket.amount"
                        label="Select Amount"
                        lazy-rules
                        :rules="[
                        val => val !== null && val !== '' || 'Please select an amount',
                        val => val > 0 && val < 100 || 'Please type a real figure'   
                        ]"
                    />

                <modalbuttons></modalbuttons> 
            </q-form>
        </q-card-section>
    </q-card>
</template>
<script lang="ts">
import Vue from 'vue'
import { ref } from '@vue/composition-api'
import { mapActions } from 'vuex'
export default Vue.extend({
    props: ['product', 'amount'],
    data () {
        stock: ''
        amounttoorder: ''
        addToBasket: {
            sku: ''
            amount: ''
            name: ''
            price: ''
        }
        return {
            stock: '',
            amounttoorder: '',
            addToBasket: {
            sku: '',
            amount: '',
            name: '',
            price: ''
            }
        }
    },
    methods: {
        ...mapActions('firestore', ['addOrderToBasket']),
        submitForm () {
            
            const orderTotal = 0
            // Format the Order
            const order = {
                sku: '',
                amount: '',
                name: '',
                userid: '',
                price: '',
                orderTotal: 0
            }
            order.sku = this.addToBasket.sku// 'WSOOOPTSW'
            order.amount = this.addToBasket.amount
            order.name = this.addToBasket.name // 'This Product'

            order.amount = this.addToBasket.amount // '1'
            const amount = parseInt(this.addToBasket.amount)
            const total = parseInt(this.addToBasket.price)

            const totalItemOrder = amount * total

            order.orderTotal = totalItemOrder
            // TODO need to be able to handle once they have an account
            // If they are anonymous
            order.userid = '1000'
            order.price = this.addToBasket.price // '10'

            this.$emit('cartupdated', 'cart was updated')

            this.addOrderToBasket(order)
        }
    },
    components: {
          modalbuttons: require('components/shop/basket/modals/modalbuttons').default
    },
    mounted () {
        this.stock = this.amount
        this.addToBasket.sku = this.product.sku
        this.addToBasket.price = this.product.price
        this.addToBasket.name = this.product.name
    }
})
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 250px
.my-card-section
  width: 220px
  max-width: 250px
</style>
