<template>
<q-card>
    <q-markup-table flat bordered>
      <thead class="bg-grey">
        <tr>
          <th colspan="7">
            <div class="row no-wrap items-center">
              <q-img
                style="width: 70px"
                :ratio="1"
                class="rounded-borders"
                src="https://storage.googleapis.com/ginadesign-4824a.appspot.com/Shop/-M7gXn2OGtgcY18PmY2N/image/kente.jpg"
              />
              <div class="text-h4 q-ml-md text-white">Your Basket</div>
            </div>
          </th>
        </tr>
        <tr v-if="totalToPay !== 0">
          <th class="text-left">Product Name</th>
          <th class="text-right">Qty</th>
          <th class="text-right">Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="bg-grey-3" v-if="totalToPay !== 0">
        <tr v-for="(item, key) in cart" :key="key">
          <td class="text-left">{{ item.name }}</td>
          <td class="text-right">{{ item.amount }}</td>
          <td class="text-right">£{{ item.ordertotal }}</td>       
          <td class="text-right">
              <q-btn
                    @click.stop="removeFromBasket(item.sku)"
                    flat
                    round
                    dense
                    color="primary"
                    icon="remove_shopping_cart" 
                />
          </td>
        </tr>
        <tr v-if="totalToPay !== 0">  
            <td>Grand Total</td>
            <td></td>
            <td>£ {{ totalToPay }}</td>
            <td></td>
        </tr>
        <tr v-if="totalToPay !== 0">        
            <td>Check out:</td>
            <td></td>
            <td>
              
                <q-btn
                v-if="loggedIn"
                    flat
                    round
                    dense
                    color="primary"
                    icon="credit_card"
                    type="submit"
                    to="/checkout"
                />
                <q-btn
                  v-else
                    flat
                    round
                    dense
                    color="primary"
                    icon="credit_card"
                    type="submit"
                    to="/login/cart"
                />
              
            </td>
            <td></td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr>
          <td colspan="4">Your basket is empty</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </q-markup-table>
</q-card>
</template>
<script lang="ts">
import Vue from 'vue'
import { mapActions } from 'vuex'
import { firebaseAuth } from 'boot/firebase'
import { loadStripe } from '@stripe/stripe-js'
const stripePromise = loadStripe('pk_test_8AuI0i9pYw4zSNAm1GZYmbBC00HzTs7x3N')
export default Vue.extend({
    data () {
        totalToPay: 0
        return {
            totalToPay: 0,
            loggedIn: false
        }
    },
    props: ['cart'],
    methods: {
        ...mapActions('firestore', ['removeProductFromBasket', 'addAnonymousUser']),
        removeFromBasket (sku) {
            this.removeProductFromBasket(sku)
            this.readCart()
        },
        readCart () {
                console.log(this.cart)

                let totalAmount = 0
                for (const key in this.cart) {
                    console.log('cart fired loop')
                    
                    const ordertotal = this.cart[key].ordertotal

                    console.log('this is the total ' + ordertotal)

                    totalAmount += ordertotal
                }

                console.log('Total Amount ' + totalAmount)
                
                this.totalToPay = totalAmount
        },
        async redirectToStripe () {
          // Call your backend to create the Checkout session.
          this.addAnonymousUser()
          const user = firebaseAuth.currentUser
          if (user != null) {
          
          const uid = user.uid
          const sessionId = uid
          console.log('userid we just created ' + sessionId)
          // When the customer clicks on the button, redirect them to Checkout.
          }
        }
    },
    created () {

        // let totalAmount = 0
        // this.cart.forEach(cartline => {
        //     console.log('cart line amount ' + cartline.amount)
        //     totalAmount = cartline.amount + totalAmount
        // })

        // Check if they are logged in
        const user = firebaseAuth.currentUser
        if (user !== null) {
            this.loggedIn = true
        }
         this.readCart()

    }
})
</script>
